:root{
  --backgroundColor: #bbbbbb;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  color: black;
  font-family:'Roboto', sans-serif;
}

p {
  color: black;
  font-family: 'Kaisei HarunoUmi', serif;
}

body, html {
    width: 100vw;
    height: 100vh;
    background: var(--backgroundColor);
    overflow: hidden;
}

.navigationBar {
  background-color: var(--backgroundColor);
  border: 2px solid black;

  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.navigationBar>*:first-child{
  align-self: stretch;
}

.logo {
  width: 8%;
  height: 8%;
  margin-right: auto;
  opacity:0.75;
}

.navLinks {
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  list-style-image: none;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.navLinks li{
  margin-left: 1em;
  margin-right: 1em;
}

.navLinks li:hover {
  background-color: grey;
}

.mainGrid {
  width: 80%;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  margin-bottom: auto;
  background-color: rgb(255, 255, 255);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.splashScreen {
  width: inherit;
  height: inherit;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  display: flex;

  text-align: center;
  background-color: white;
}